.custom-calendar .react-datepicker__header {
  background-color: #ffffff;
  border: none;
  padding: 10px 0;
  font-size: 1rem;
}

.custom-calendar .react-datepicker__day-name,
.custom-calendar .react-datepicker__day {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 2px;
  font-size: 0.9rem;
}

.custom-calendar .react-datepicker__day--selected {
  background-color: #6f42c1;
  color: #ffffff;
  border-radius: 20px;
}

.custom-calendar .react-datepicker__day--keyboard-selected {
  background-color: #6f42c1;
  color: #ffffff;
}

.custom-calendar .react-datepicker__current-month {
  font-size: 1.2rem;
  font-weight: bold;
}

.modal-calendar .modal-dialog {
  max-width: 500px;
}

.modal-calendar .modal-content {
  border-radius: 15px;
  border: none;
}

.modal-calendar {
  width: 20rem;
  justify-self: center;
}

.custom-calendar {
  width: 100%;
  justify-self: center;
}

.custom-calendar .react-datepicker__header {
  border: none;
  height: 5rem;
  justify-self: center;
}

.custom-calendar .react-datepicker {
  border: none !important;
  box-shadow: none !important;
}

.custom-calendar .react-datepicker__day {
  border: none !important;
}

@media (max-width: 426px) {
  .search-column {
    width: 78vw !important;
  }

  .modal-calendar {
    width: 18rem;
  }

  .react-datepicker__day-name {
    width: 20px !important;
    font-size: 12px !important;
  }

  .react-datepicker__day {
    width: 20px !important;

    font-size: 12px !important;
  }

  .react-datepicker__day--selected {
    width: 38px !important;

    border-radius: 20px !important;
  }

  .custom-calendar .react-datepicker__header {
    width: 18rem;

    justify-self: start;
  }
}

@media (min-width: 427px) and (max-width: 768px) {
  .search-column {
    width: 55vw !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .search-column {
    width: 42vw !important;
  }
}
