@media (max-width: 426px) {
  .custom-pengaturan-profil {
    position: relative !important;
    margin-top: -2.5rem !important;
    bottom: 42rem !important;
    right: 15rem !important;
  }

  .custom-card-pengaturan {
    position: relative !important;
    margin-left: -4rem !important;
    width: 60vw !important;
    margin-top: 1.5rem !important;
  }

  .custom-h5 {
    font-size: 14px;
  }

  .custom-h1 {
    position: relative;
    right: 8.5rem !important;
    font-size: 12px !important;
    width: 12rem;
  }

  .custom-p {
    font-size: 12px;

    text-align: justify !important;
  }

  .custom-button {
    font-size: 12px;
    width: 5rem !important;
  }
}

@media (min-width: 427px) and (max-width: 768px) {
  /* .custom-pengaturan-profil {
    position: relative !important;
    margin-top: -2.5rem !important;
    bottom: 42rem !important;
    right: 15rem !important;
  } */

  .custom-card-pengaturan {
    position: relative !important;
    margin-left: -4rem !important;
    width: 50vw !important;
    margin-top: 1.5rem !important;
  }

  .custom-h5 {
    font-size: 18px;
  }

  .custom-h1 {
    position: relative;
    right: 8.5rem !important;
    font-size: 15px !important;
    width: 12rem;
  }

  .custom-p {
    font-size: 15px;

    text-align: justify !important;
  }

  .custom-button {
    font-size: 15px;
    width: 10rem !important;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  /* .custom-pengaturan-profil {
    position: relative !important;
    margin-top: -2.5rem !important;
    bottom: 42rem !important;
    right: 15rem !important;
  } */

  .custom-card-pengaturan {
    position: relative !important;
    margin-left: -4rem !important;
    width: 50vw !important;
    margin-top: 1.5rem !important;
  }

  /* .custom-h5 {
    font-size: 18px;
  } */

  .custom-h1 {
    position: relative;
    right: 8.5rem !important;
    /* font-size: 15px !important; */
    width: 12rem;
  }

  .custom-p {
    /* font-size: 15px; */

    text-align: justify !important;
  }

  .custom-button {
    /* font-size: 15px; */
    width: 10rem !important;
  }
}
